<div class="sidebar" id="sidebar">
    <a href="/index.html"><span class="icon">🏠</span>Trang chủ</a>
    <div class="dropdown">
        <div class="dropdown-btn">
            <span class="icon">📨</span>Tool Mật Thư<span>▼</span>
        </div>
        <div class="dropdown-content">
            <div class="dropdown-sub">
                <a href="#" class="has-submenu">Thay thế</a>
                <div class="submenu">
                    <a href="/toolmatthu/thaythe/chubangchuen.html">Chữ = Chữ EN</a>
                    <a href="/toolmatthu/thaythe/sobangchuen.html">Số = Chữ EN</a>
                    <a href="/toolmatthu/thaythe/chubangchuvn.html">Chữ = Chữ VN</a>
                    <a href="/toolmatthu/thaythe/sobangchuvn.html">Số = Chữ VN</a>
                    <a href="/toolmatthu/thaythe/khanhhoa.html">Khánh Hòa</a>
                    <a href="/toolmatthu/thaythe/tienchu.html">Tiến chữ</a>
                </div>
            </div>
            <div class="dropdown-sub">
                <a href="#" class="has-submenu">Tọa độ</a>
                <div class="submenu">
                    <a href="/toolmatthu/toado/10custom.html">10x10 Custom</a>
                    <a href="/toolmatthu/toado/banhangcot.html">Bảng - Hàng - Cột</a>
                    <a href="/toolmatthu/toado/maphuong.html">Ma Phương</a>
                    <a href="/toolmatthu/toado/phuonghuong.html">Phương hướng</a>                
                </div>
            </div>
            <div class="dropdown-sub">
                <a href="#" class="has-submenu">Dời chỗ</a>
                <div class="submenu">
                    <a href="/toolmatthu/doicho/camranh.html">CAM RANH</a>
                    <a href="/toolmatthu/doicho/docnguoc.html">Đọc Ngược</a>
                </div>
            </div>
            <a href="#">Ẩn dấu</a>
            <a href="#">Nâng cao</a>
        </div>
    </div>
    
    <div class="dropdown">
        <div class="dropdown-btn">
            <span class="icon">🐺</span>Ma Sói<span>▼</span>
        </div>
        <div class="dropdown-content">
            <a href="/masoi/quantro.html">🤵 Quản Trò</a>
            <a href="/masoi/huongdan.html">📜 Hướng dẫn</a>
        </div>
    </div>
    <div class="dropdown">
        <div class="dropdown-btn">
            <span class="icon">📖</span>Tài liệu<span>▼</span>
        </div>
        <div class="dropdown-content">
            <a href="/tailieu/banxoaymatthu.html">Bản xoay MT</a>
            <a href="/tailieu/matthu.html">Mật thư</a>
            <a href="/tailieu/muavadanvu.html">Múa, dân vũ</a>
            <a href="/tailieu/nutday.html">Nút dây</a>
            <a href="/tailieu/sinhhoatvongtron.html">SH vòng tròn</a>
            <a href="/tailieu/thucongtrai.html">TC trại</a>
            <a href="/tailieu/trochoilon.html">Trò chơi lớn</a>
            <a href="/tailieu/trochoinho.html">Trò chơi nhỏ</a>
        </div>
    </div>
    <a href="/lienhe.html"><span class="icon">📮</span> Liên hệ tôi</a>
    <a href="/dieukhoan.html"><span class="icon">📄</span> Điều khoản</a>
    <a href="/donate.html"><span class="icon">💖</span> Ủng hộ tôi</a>
</div>
